#tmp_panel{
	background: #f6f6f6;
	position: absolute;
	width: 300px;
	height: 200px;
	z-index: 999;
	right: 3%;
	bottom: 5%;
	-webkit-transition: all 1s;
}

#tmp_panel.hide{
	-webkit-transform: translateY(90%);

}

#button_autowork{
	float:left;
}

#button_close{
	margin-left: 10px;
	float: left;
}



#tmp_panel_title{
	border-bottom: 1px black solid;
	padding: 10px 0 10px 5px;
}

#button_append_link{
	background: #f6f6f6;
	height:100%;
}

#click_hint{
	background: #0071bc;
	text-align: center;
	color: "white";
	height:30px;
	padding-top: 10px;
}

.onoffswitch {
    position: relative; width: 61px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;

	float: right;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 0px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 24px; padding: 0; line-height: 20px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    border: 2px solid transparent;
    background-clip: padding-box;
}
.onoffswitch-inner:before {
    content: "3";
    padding-left: 14px;
    background-color: #2E8DEF; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "4";
    padding-right: 14px;
    background-color: #CCCCCC; color: #333333;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 19px; margin: 0px;
    background: #000000;
    position: absolute; top: 0; bottom: 0; right: 42px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.onoffswitch-checked .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checked .onoffswitch-switch {
    right: 0px; 
}



/*Reference
https://proto.io/freebies/onoff/
http://stackoverflow.com/questions/14246902/make-on-off-switch-work-in-ie8-using-proto-io
*/