#tmp_panel{
	background: #f6f6f6;
	position: absolute;
	width: 300px;
	height: 200px;
	z-index: 999;
	right: 3%;
	bottom: 5%;
	-webkit-transition: all 1s;
}

#tmp_panel.hide{
	-webkit-transform: translateY(90%);

}

#tmp_panel_title{
	border-bottom: 1px black solid;
	padding: 10px 0 10px 5px;
}

#button_append_link{
	background: #f6f6f6;
	height:100%;
}

#click_hint{
	background: #0071bc;
	text-align: center;
	color: "white";
	height:30px;
	padding-top: 10px;
}